{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Add a quote" %}{% endblock %}
{% block meta_decription %}{% translate "Add a quote" %} - {% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>{% translate "Add a quote" %}</h1>   


        <form action="" method="POST" class="form-control"> <!--  hx-post="." --> 
            

            {% csrf_token %}
            {{ form.as_p }}

            <!-- <table style="display: none">
                {{ view.formset.empty_form }}
            </table>
    
            <table>
                {{ view.formset }}
            </table>             -->

        

            <button class="btn btn-secondary">{% translate "Post" %}</button>

        </form>

    {% else %}
        <p>You are not allowed here</p>
    {% endif %}

    {{ form.media }}
    {% include 'author_select_form_script.html' %}  


{% endblock %}  




