{% extends 'base.html' %}

{% block title %}Delete a quote{% endblock %}
{% block meta_decription %}{{ quote.text }} - {% endblock %}

{% block body %}

{% if user.is_authenticated  and user.id == quote.contributor.id %}

    <h1>Delete a quote</h1>

    <p>{{ quote.text|safe }}</p>

    <form method="POST" class="form-control"> 

        {% csrf_token %}


        <button class="btn btn-secondary">Delete</button>

    </form>

{% else %}
    <p>You are not allowed here</p>
{% endif %}  


    {% endblock %}  