{% extends 'base.html' %}
{% load i18n %}
{% load get_item %} 
{% load static %}

{% block title %}Ubiquote {% endblock %}

{% block meta_decription %}{{ quote.text }} - {% endblock %}

{% block custom_static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link crossorigin="anonymous" href='https://fonts.googleapis.com/css?family=Helvetica|Arimo|Ubuntu|Outfit|Instrument+Serif|Space+Mono|Hedvig+Letters+Serif|Hedvig+Letters+Sans|Courgette|Grandstander|Noto+Sans|Open+Sans|Roboto|WindSong|Euphoria+Script' rel='stylesheet' type='text/css'>

<script src="{% static 'txt_to_img_generator_control.js' %}"></script>
<script src="{% static 'txt_to_img_generator_fontsizing.js' %}"></script>
<!-- <script src="{% static 'txt_to_img_generator_onload.js' %}"></script> -->


<link href="{% static 'txt_to_img_generator.css' %}" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="{% static 'html2canvas_settings.js' %}"></script>

<script>
  document.documentElement.classList.add('js');
</script>


<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let cookie of cookies) {
            cookie = cookie.trim();
            if (cookie.startsWith(name + "=")) {
                cookieValue = decodeURIComponent(cookie.slice(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

{% endblock %}



{% block body %}

  {% include "snippets/previous_page.html" %}   



  {% comment %}  
  <div class="float-end">
  {% include "like_quote.html" %}           
  </div>  
  {% endcomment %}    



  <div class="row flex-column flex-lg-row">
    
    <!-- Quote Column -->
    <div class="col-lg-10 mb-4 mb-lg-0 d-flex justify-content-center">
      <div class="quote-block h-100 target" id="quoteContainer">
        <p class="quote-text">
          {{ quote.text|safe }}
        </p>
          {% if quote.author and quote.author.id != 75 %}                
            <p class="quote-author">
              {% include "snippets/author_name_snippet.html" with quote=quote  %}
            </p>
            <p class="quote-source">
              <em>in</em>
              <cite title="Source Title">Source Title</cite>
            </p>
          {% endif %}
        <p class="provider">
            <a href="">
            <img src="https://cdn.jsdelivr.net/gh/cj1128/emoji-images@1.2.1/imgs/1f44f.png" class="image" />
            Imprimes ta citation sur Ubiquote.com/beta
            </a>
        </p>
      </div>
    </div>

    <!-- Control Panel -->
    <div class="col-lg-2 justify-content-start controls">
  
      <!-- Your dropdowns (typo, design, format) -->
      <div id="template_options">


        <div class="dropdown">
          <div class="dropbtn" id="font-dropdown-btn">
            <p id="selected-font">Selected Font</p>
            <div class="triangle">&#9660;</div>
          </div>
          <div id="font-container" class="dropdown-content">

    
          </div>
        </div>
    
        <div class="dropdown">
          <div class="dropbtn" id="template-dropdown-btn">
            <p id="selected-template">Design</p>
            <div class="triangle">&#9660;</div>
          </div>
          <div id="template-container" class="dropdown-content">
            <input type="radio" id="white-black" name="template" value="white-black" checked>
            <label for="white-black">Normal</label>
    
            <input type="radio" id="black-white" name="template" value="black-white">
            <label for="black-white">Inverse</label>
    
            <input type="radio" id="author-visual" name="template" value="author-visual" >
            <label for="author-visual">Author</label>        
    
            <hr>           
    
            <input type="radio" id="custom" name="template" value="custom">
            <label for="custom">Custom</label>
          </div>
        </div>
    
        <div class="dropdown">
          <div class="dropbtn" id="size-dropdown-btn">
            <p id="selected-size">Format</p>
            <div class="triangle">&#9660;</div>
          </div>
          <div id="size-container" class="dropdown-content">
            <input type="radio" id="size-1.91/1" name="size" value="size-1.91/1" checked>
            
            <label for="size-1.91/1">
                <div class="icon ratio-191-1">
                </div>             
                Normal
            </label>
        
            <input type="radio" id="size-1/1" name="size" value="size-1/1">
                
            <label for="size-1/1">
                <div class="icon ratio-1-1">
                </div>      
                Square
            </label>
    
            <input type="radio" id="size-4/3" name="size" value="size-4/3">
                    
            <label for="size-4/3">
                <div class="icon ratio-4-3">
                </div>  
                Old TV
            </label>        
    
            <input type="radio" id="size-9/16" name="size" value="size-9/16">
            <label for="size-9/16">
                <div class="icon ratio-9-16">
                    <!-- 9/16 -->
                </div>
                  Smartphone</label>        
            
            <input type="radio" id="size-16/9" name="size" value="size-16/9">
            <label for="size-16/9">
                <div class="icon ratio-16-9">
                </div>
                  Cinema</label>  
            
            <input type="radio" id="size-4/5" name="size" value="size-4/5">
                  
            <label for="size-4/5">
                <div class="icon ratio-4-5">
                </div>  
                Instagramm
            </label>     
            
            <input type="radio" id="size-2/3" name="size" value="size-2/3">
                    
            <label for="size-2/3">
                <div class="icon ratio-2-3">
                </div>  
                Pinterest
            </label>             
    
    
            <!-- <hr>
            <input type="radio" id="size-custom" name="size" value="custom">
            <label for="size-custom">Custom</label> -->
          </div>
        </div>


    

      </div>         
      


      <label for="generate-image" class="btn btn-primary">Generate</label>
      <input type="radio" id="generate-image" name="action" value="generate-image" class="cta_button">

      <label for="download-image" class="btn btn-primary">Download</label>
      <input type="radio" id="download-image" name="action" value="download-image" class="cta_button">


      <label for="share-image" class="btn btn-primary" id="open-share-modal">Share</label>
      <input type="radio" id="share-image" name="action" value="share-image" class="cta_button">   
      <input type="hidden" id="quote-id" value="{{ quote.id }}"> 


      
    </div>          

  </div>



<div id="result" class="modal">
  <div class="modal-content">
      <span class="close-button">&times;</span>
      <img id="modalImage" src="" alt="Generated Image" />
  </div>
</div>


<!-- Modal Overlay -->
<div id="share-modal" class="modal-overlay hidden">
  <div class="modal-content">
    <h2>Share this Quote</h2>
    <div class="share-buttons">
      <a id="share-facebook" target="_blank">Facebook</a>
      <a id="share-twitter" target="_blank">Twitter</a>
      <a id="share-whatsapp" target="_blank">WhatsApp</a>
      <a id="share-messenger" target="_blank">Messenger</a>
      <a id="share-pinterest" target="_blank">Pinterest</a>
      <a id="share-email">Email</a>
      <a id="share-sms">SMS</a>
    </div>
    <button id="close-share-modal" class="btn">Close</button>
  </div>
</div>

<script>
  document.getElementById("open-share-modal").addEventListener("click", () => {
    document.getElementById("share-modal").classList.remove("hidden");
  });

  document.getElementById("close-share-modal").addEventListener("click", () => {
    document.getElementById("share-modal").classList.add("hidden");
  });

  // Optional: Close modal on ESC or background click
  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") {
      document.getElementById("share-modal").classList.add("hidden");
    }
  });

  document.getElementById("share-modal").addEventListener("click", (e) => {
    if (e.target.id === "share-modal") {
      document.getElementById("share-modal").classList.add("hidden");
    }
  });
</script>

<script>

function getCookie(name) {
  const cookieValue = document.cookie
    .split("; ")
    .find(row => row.startsWith(name + "="))
    ?.split("=")[1];
  return decodeURIComponent(cookieValue);
}
</script>




{% endblock %}  