{% load likes_tag %}

{% block body %}

        <form method="post" action="{% url 'quotes:like-quote' quote.id %}">
        {% csrf_token %}

            {{ quote.count_likes }}   

            {% if liked_quotes|has_user_liked:quote.id %}
            <button type="submit" class="btn btn-light m-1" type="button">Unilke</button>
            {% else %}
            <button type="submit" class="btn btn-primary m-1" type="button">Like</button>
            {% endif %}

        
        </form>

{% endblock %} 