{# load likes_tag #}

{# block body #}



    <form id="likesarea-{{quote.id}}">

        <span class="likes-count">{{ quote.likes.count }}</span>

        <button hx-post="{% url 'quotes:like-quote' quote.id %}" id="like-button" 
        hx-target="#likesarea-{{quote.id}}" hx-swap="outerHTML" class="btn m-1 {% if liked or has_user_liked or quote.id in liked_quotes %}btn-light{% else %}btn-primary{% endif %}" >

            {% if liked or has_user_liked or quote.id in liked_quotes %}
                Unlike
            {% else %}
                Like
            {% endif %}
        </button>
    </form>



    

{# endblock #} 