
<!-- Show pagination only if javascript is desactivated -->
<noscript> 

{% if next_page_url or previous_page_url  %}
    <div class="pagination m-md-5 align-items-center justify-content-center">
        <span class="page-links">
            {% if previous_page_url %}
                <a href="{{ previous_page_url }}">&laquo; previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_number }}
            </span>
            {% if next_page_url %}
                <a href="{{ next_page_url }}">next &raquo;</a>
            {% endif %}
        </span>
    </div>    
{% endif %} 
</noscript>
