{% load i18n %}
{% load get_item %} 


<div class="card m-md-5">
    <div class="card-header">
      {% translate "Quote" %}
    </div>
    <div class="card-body">
      
      <blockquote class="blockquote mb-0">
        <p><a href="{% url 'quotes:get-quote' quote.slug  %}" class="">{{ quote.text|safe }}</a></p>
        
        {% if quote.author %}
          <footer class="blockquote-footer">
            <a href="{% url 'authors:get-author' quote.author.slug  %}" class="">




              {% if '/en/' in request.path %}

              
                {% if translated_names|get_item:quote.id %}
                  {{ translated_names|default_if_none:''|get_item:quote.id }}
                {% else %}
                  {{ quote.author|default_if_none:""|safe }}
                {% endif %}
                

              {% else %}                              
                {{ quote.author|default_if_none:""|safe }}
              {% endif %}




              
            
            </a>
            in <cite title="Source Title">Source Title</cite>
          </footer>

        {% endif %}            
      </blockquote>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        {% translate "categories" %} :
            {% for category in quote.categories.all %}
            <a href="{% url 'texts:get-category' category.title|slugify   %}" class="link-offset-2 link-underline link-underline-opacity-10">{{ category.title }}</a> &nbsp;
            {% endfor %}   
      </li>
      <li class="list-group-item">
        {% if user.is_authenticated and user == quote.contributor %}
        <div class="float-end">                  
          <a href="{% url 'quotes:update-quote' quote.slug  %}" class="btn btn-primary x-1"> {% translate "update" %}</a>
          <a href="{% url 'quotes:delete-quote' quote.slug  %}" class="btn btn-primary x-1"> {% translate "delete" %}</a>
        </div>
        {% else %}

        {% endif %}         
        
        {% translate "published" %} {{ quote.date_created }}  {% translate "by" %} 
        <a href="{% url 'users:get-user' quote.contributor  %}" class="link-offset-2 link-underline link-underline-opacity-10">
          {{ quote.contributor.username|safe }}
        </a>
         
      </li>
      <li class="list-group-item">
        <!-- <div class="cd-grid gap-2 d-md-flex justify-content-md-end"> -->
        <div class="cd-grid gap-2 d-md-flex justify-content-md-end align-items-center">
              
          {% include "like_quote.html" %} 
              
        </div>  
      </li>

      <!-- Display when the quote was liked on the Favorite page -->
      {% if '/likes/' in request.path %}
      <li class="list-group-item">
        <div class="cd-grid gap-2 d-md-flex justify-content-md-end">

            {% for liked_quote in liked_quotes_timestamps %}
              {% if liked_quote.quote_id == quote.id %}
                  <p>You liked this quote on: {{ liked_quote.timestamp }}</p>
              {% endif %}
            {% endfor %}
      
        </div>  
      </li>
      {% endif %}

    </ul>  

  </div>      