{% load i18n %}
{% load get_item %} 
{% load highlight %}


<!-- <div class="card mt-3"> -->

    <div class="card-header">
      {% translate "Quote" %}
    </div>
    <div class="card-body">


      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
      



            <blockquote class="blockquote mb-0">
              <p>
                {% comment %}
                <a href="{% url 'quotes:get-quote' author_slug=quote.author.slug slug=quote.slug_with_id %}">
                  {{ quote.text|highlight_search:search_query|safe }}
                </a>  



                <a href="{% url 'quotes:get-quote' quote.slug  %}" class="">{{ quote.text|highlight_search:search_query|safe }}</a>


                                
                {% endcomment %}

                <a href="{% url 'quotes:get-quote' quote.slug  %}" class="">{{ quote.text|highlight_search:search_query|safe }}</a>

                

               
              </p>
              {% if quote.author %}
                <footer class="blockquote-footer">

                  <a href="{% url 'authors:get-author' quote.author.slug  %}" class="">


                    {% if quote.lang != "en" and quote.author.translated_name %}
                      {% if quote.lang in quote.author.translated_name %}
                          {{ quote.author.translated_name|get_item:quote.lang|default:quote.author.fullname|highlight_search:search_query|safe }}
                      {% else %}
                          {{ quote.author.fullname|default_if_none:""|highlight_search:search_query|safe }}
                      {% endif %}
                    {% else %}
                        {{ quote.author.fullname|default_if_none:""|highlight_search:search_query|safe }}
                    {% endif %}
                



                  </a>

                  <!-- in <cite title="Source Title">Source Title</cite> -->
                </footer>
      
              {% endif %}            
            </blockquote>
          </div>

          {% comment %} 
          <div class="col-sm-1"> <!-- bg-danger -->


            <!-- <div class="cd-grid gap-2 d-md-flex justify-content-md-end"> -->
          
              
              {% include "like_quote.html" %} 
                  
            <!-- </div>   -->

          </div>
          {% endcomment %}             
        </div>
      
      </div>


    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">

        {% comment %} 
        {% endcomment %}       

        {% translate "categories" %} :
            {% for quote_category in quote.categories %}
            <a href="{% url 'texts:get-category' quote_category.slug  %}" class="link-offset-2 link-underline link-underline-opacity-10">{{ quote_category.title|highlight_search:search_query|safe }}</a> &nbsp;
            {% endfor %}   


      </li>
      <li class="list-group-item">
  

        <p>Polarity: {{ quote.dimensions.polarity }}</p>
        <p>Readability: {{ quote.dimensions.readability }}</p>
        <p>Emotions: 

          {% for emotion in quote.dimensions.emotions %}
          {{ emotion }} 
          {% endfor %}

      </p>

      </li>     
      <li class="list-group-item">      
        {% if user.is_authenticated and user.id == quote.contributor.id %}
        <div class="float-end">                  
          <a href="{% url 'quotes:update-quote' quote.slug  %}" class="btn btn-primary x-1"> {% translate "update" %}</a>
          <a href="{% url 'quotes:delete-quote' quote.slug  %}" class="btn btn-primary x-1"> {% translate "delete" %}</a>
        </div>
        {% else %}

        {% endif %}         
        
        {% translate "published" %} {{ quote.date_created }}  {% translate "by" %} 
        <a href="{% url 'users:get-user' quote.contributor.slug  %}" class="link-offset-2 link-underline link-underline-opacity-10">
          {{ quote.contributor.username|safe }}
        </a>
         
      </li>
      <li class="list-group-item">
        <div class="cd-grid gap-2 d-md-flex justify-content-md-end">
          
              
          {% include "img_quote.html" %} 

          {% include "like_quote.html" %} 


          {% include "share_quote.html" %} 

              
        </div>  
        
      </li>

      <!-- Display when the quote was liked on the Favorite page -->
      {% if '/likes/' in request.path %}
      <li class="list-group-item">
        <div class="cd-grid gap-2 d-md-flex justify-content-md-end">

            {% for liked_quote in liked_quotes_timestamps %}
              {% if liked_quote.quote_id == quote.id %}
                  <p>You liked this quote on: {{ liked_quote.timestamp }}</p>
              {% endif %}
            {% endfor %}
      
        </div>  
      </li>
      {% endif %}



    </ul>  

  <!-- </div>       -->