{% for quote in quotes %}
    {% comment %}
    {% if forloop.counter == 8 %}    
    {% endcomment %}  

    {% if forloop.last %}
        <!-- Pagination activated for infinite loop -->

        {% url 'quotes:get-quotes' %}?page={{ page_obj.number|add:1  }}{% if search_query %}&q={{ search_query }}{% endif %}
        {% comment %}{{ request.path }}{% endcomment %}

        {% if page_obj.has_next %}
            {% comment %}
            <div hx-get="{% url 'quotes:get-quotes' %}?page={{ page_obj.number|add:1  }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
            {% endcomment %}

              {% if '/likes/' in request.path %}
                  <div hx-get="{% url 'users:get-user-likes' slug=profil_slug %}?page={{ page_obj.number|add:1  }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
              
              {% elif '/quotes/' in request.path %}
                  <div hx-get="{% url 'quotes:get-quotes' %}?page={{ page_obj.number|add:1 }}{% if search_query %}&q={{ search_query }}{% endif %}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
            
              {% elif '/author/' in request.path %}
                <div hx-get="{% url 'authors:get-author' slug=author.slug  %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">                    
              
              {% else %}                    
                <div hx-get="{% url 'texts:home' %}?page={{ page_obj.number|add:1  }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">                                  
               
              {% endif %}

                <!-- <center><img class="htmx-indicator" width="60" src="https://htmx.org/img/bars.svg"></center> -->
            </div>
        {% endif %}
    {% endif %}

    {% include "quote_card.html" %}
{% empty %}
    <!-- If empty -->
    <p>There is no quotes here. Let's create one !</p>
{% endfor %}
