{% extends 'base.html' %}
{% block title %}Ubiquote Homepage{% endblock %}
{% block meta_decription %}The best quote listing{% endblock %}

{% block body %}

    <ul>
    {% for quote in object_list %}
    <li>
      <a href="{% url 'texts:get-quote' quote.id  %}" class="link-offset-2 link-underline link-underline-opacity-10">{{ quote.text }}"</a>

      - 
      {% if quote.author.nickname is not None %}
        {{ quote.author.nickname|default_if_none:"" }}
      {% else %}
        {{ quote.author.first_name|default_if_none:""  }} {{ quote.author.middle_name|default_if_none:"" }} {{ quote.author.last_name|default_if_none:"" }}
      {% endif %}

      <br>
      -  publié le {{ quote.date_created }} par  {{ quote.contributor.username }}

      <br>
      - <a href="{% url 'texts:update-quote' quote.id  %}" class="link-offset-2 link-underline link-underline-opacity-10">update</a>
      - <a href="{% url 'texts:delete-quote' quote.id  %}" class="link-offset-2 link-underline link-underline-opacity-10">delete</a>

    </li>      
    {% endfor %}
    </ul>



    {% endblock %}  