<!-- templates/layout_three_column.html -->
{% extends "base.html" %}

{% block layout %}

    <div class="row">
        <!-- Left Skyscraper -->
        {% include "ads/skyscraper.html" %}


        <!-- Main Content -->
        <main class="col-md-8 col-12">

            {% comment %}
            <!-- Mobile Top Banner -->
            <div class="mobile-only mb-3">
                {% include "ads/banner.html" %}
            </div>
            {% endcomment %}            

            {% block content %}{% endblock %}

            <!-- Optional demi-page ad -->
            {% block demi_ad %}{% endblock %}
        </main>

        <!-- Right Skyscraper -->
        {% include "ads/skyscraper.html" %}
    </div>

 

{% endblock %}
