{% extends 'base.html' %}


{% block title %}Auteur{% endblock %}

{% block meta_decription %}{{ author.lastname }} - {% endblock %}

{% block body %}



    <h1>



      {% if '/en/' in request.path %}
        {{ translated_name }} 

      {% else %}



        {{ author.first_name|default_if_none:""  }}
        {{ author.middle_name|default_if_none:" " }}
        {{ author.particul|default_if_none:"" }}
        {{ author.last_name|default_if_none:"" }}



        {% if author.nickname and author.last_name %}
          also known as
          {{ author.nickname|default_if_none:"" }}
        {% else %}
        {{ author.nickname|default_if_none:"" }}
        {% endif %}      


      {% endif %}      

    </h1>



    {% if author.avatar.url is not None %}
      <img src="{{ author.avatar.url }}" class="rounded-circle">
    {% endif %}      


    <h2>{{ author.biography|safe }}</h2>

    {% if author.date_birth is not None %}

      {% if author.date_birth_datefield  is  None %}
      <p>date_birth : {{ author.date_birth  }}  </p>
      {% else %} 
      <p>date_birth : {{ author.date_birth_datefield|date:"d M Y"|safe}} </p>      
      {% endif %} 

    {% endif %}      

    {% if author.date_death is not None %}
      {% if author.date_death_datefield  is  None %}
      <p>date_death : {{ author.date_death  }}  </p>
      {% else %} 
      <p>date_death : {{ author.date_death_datefield|date:"d M Y"|safe}} </p>      
      {% endif %} 

    {% endif %}           
    
    {% if author.sex is not None %}    
      <p>sex : {{ author.sex|safe }}</p>
    {% endif %}

    {% if author.nationality is not None %}   
      <p>nationality :  {{ author.nationality|safe }}</p>
    {% endif %}

    <p>date_created : {{ author.date_created|date:"d M Y à G:i"|safe }}</p>
    <p>date_updated : {{ author.date_updated|date:"d M Y à G:i"|safe }}</p>

    <p>
      <a href="{{ author.twitter_url|safe }}" class="link-offset-2 link-underline link-underline-opacity-10">
      twitter
      </a>
    </p>



    {% include "quotes_cards.html" %}



    {% if user.is_authenticated and user.is_superuser %}
      <a href="{% url 'authors:update-author' author.slug %}" class="link-offset-2 link-underline link-underline-opacity-10">Update author</a>
      <a href="{% url 'authors:delete-author' author.slug %}" class="link-offset-2 link-underline link-underline-opacity-10">Delete author</a>      
    {% endif %}    


{% endblock %}  