{% extends 'base.html' %}
{% block title %}Authors{% endblock %}
{% block meta_decription %}All the authors{% endblock %}

{% block body %}
    <h1>Authors</h1>
    <ul>
    {% for author in authors %}
    <li>

      <a href="{% url 'authors:get-author' author.slug  %}" class="link-offset-2 link-underline link-underline-opacity-10">
      {% if author.nickname is not None %}
        {{ author.nickname|default_if_none:""|safe }}
      {% else %}
        {{ author.first_name|default_if_none:""|safe  }} {{ author.middle_name|default_if_none:""|safe }} {{ author.last_name|default_if_none:""|safe }}
      {% endif %}
    </a>



      <!-- {% if user.is_authenticated and user.id == quote.contributor.id %}
      <p>
        - <a href="{% url 'quotes:update-quote' quote.id  %}" class="link-offset-2 link-underline link-underline-opacity-10">update</a>
        - <a href="{% url 'quotes:delete-quote' quote.id  %}" class="link-offset-2 link-underline link-underline-opacity-10">delete</a>
      </p>        
      {% else %}
      {% endif %}   -->
    </li>      
    {% endfor %}
    </ul>

    {% if user.is_authenticated and user.is_superuser %}
      <a href="{% url 'authors:add-author' %}" class="link-offset-2 link-underline link-underline-opacity-10">Add author</a>
    {% endif %}



    {% endblock %}  