{% extends "layout_three_column.html" %}
{% load static %}
{% load i18n %}

{% block title %}Login{% endblock %}
{% block meta_decription %}{{ quote.text }} - {% endblock %}



{% block content %}


  <!-- <div class="container d-flex justify-content-center align-items-center modal-dialog-centered"> -->
  <div class="modal-dialog-centered">   

  <!-- <div class=" h-100 d-flex justify-content-center align-items-center">   -->
    <div class="mx-auto">

      <div>
        <h5 class="modal-title">You've be logout. Please login.</h5>
      </div>

      <div >
{% include "registration/form_login.html" %}    
      </div>
      
    </div>
  </div>

  





{% endblock %} 