{% extends "layout_one_column.html" %}

{% block title %}Login{% endblock %}
{% block meta_decription %}{{ quote.text }} - {% endblock %}

{% block content %}

    <h1>Login</h1>


    <form method="POST" class="form-control"> 

        {% csrf_token %}
        {{ form.as_p }}
        <!-- Include the quote_id as a hidden field if needed (when like before logged) -->
        <!-- <input type="hidden" name="quote_id" value="{{ quote_id }}"> -->
        

        <button class="btn btn-secondary">Login</button>

    </form>



    {% endblock %}  