


<div class="modal fade show d-block" tabindex="-1" id="login-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="btn-close" onclick="document.getElementById('modal-container').innerHTML = ''"></button>
      </div>
      <div class="modal-body">
      
        {% include "registration/form_login.html" %}    


        

        <!-- Divider -->
        <div class="text-center my-4">
            <span class="text-muted">or <a href="{% url 'users:register' %}" class="btn-link">register</a></span>
        </div>                

      </div>
    </div>
  </div>
</div>


{% comment %}
<div id="login-modal" class="modal">
  <form 
    method="POST"
    hx-post="{% url 'users:login' %}"
    hx-target="#login-modal"
    hx-swap="outerHTML"
  >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
</div>        
{% endcomment %}