{% extends 'base.html' %}
{% block title %}{{ profil.username }} profil page {% endblock %}

{% block meta_decription %}{{ profil}} - {% endblock %}

{% block body %}



    <h1>{{ profil.username|default_if_none:"" }}</h1>

    <h2>{{ profil.first_name|default_if_none:""  }} {{ profil.middle_name|default_if_none:"" }} {{ profil.last_name|default_if_none:"" }}</h2>

    {% if profil.avatar.url is not None %}
      <img src="{{ profil.avatar.url }}" class="rounded-circle">
    {% endif %}




    <!-- <p>{{ quotes.count }} quotes published.</p>     -->

    {% if profil.date_birth is not None %}
      <p>date_birth : {{ profil.date_birth|date:"d M Y"|safe }} </p>
    {% endif %}      

    {% if profil.date_death is not None %}
      <p>date_death : {{ profil.date_death|date:"d M Y"|safe }}</p>
    {% endif %}         
    
    {% if profil.sex is not None %}    
      <p>sex : {{ profil.sex|safe }}</p>
    {% endif %}

    {% if profil.nationality is not None %}   
      <p>nationality :  {{ profil.nationality|safe }}</p>
    {% endif %}

    <p>date_created : {{ profil.date_created|date:"d M Y à G:i"|safe }}</p>
    <p>date_updated : {{ profil.date_updated|date:"d M Y à G:i"|safe }}</p>

    <p>
      <a href="{{ profil.twitter_url|safe }}" class="link-offset-2 link-underline link-underline-opacity-10">
      twitter
      </a>
    </p>

    Total contribution : {{ count }}
    {% include "partials/quotes_cards.html" %}


    {% if user.is_authenticated and profil.slug == user.slug or user.is_superuser  %}
      <a href="{% url 'users:update-user' user.slug %}" class="link-offset-2 link-underline link-underline-opacity-10">Update user</a>
      <a href="{% url 'users:delete-user' user.slug %}" class="link-offset-2 link-underline link-underline-opacity-10">Delete user</a>      
    {% endif %}



{% endblock %}  