{% extends 'base.html' %}
{% block title %}{{ user }}{% endblock %}

{% block meta_decription %}{{ author.lastname }} - {% endblock %}

{% block body %}



    <h1>

        {{ user.username|default_if_none:"" }}

    </h1>

    <h2>{{ user.first_name|default_if_none:""  }} {{ user.middle_name|default_if_none:"" }} {{ user.last_name|default_if_none:"" }}</h2>

    {% if user.avatar.url is not None %}
      <img src="{{ user.avatar.url }}" class="rounded-circle">
    {% endif %}       

    {% if user.date_birth is not None %}
      <p>date_birth : {{ user.date_birth|date:"d M Y"|safe }} </p>
    {% endif %}      

    {% if user.date_death is not None %}
      <p>date_death : {{ user.date_death|date:"d M Y"|safe }}</p>
    {% endif %}         
    
    {% if user.sex is not None %}    
      <p>sex : {{ user.sex|safe }}</p>
    {% endif %}

    {% if user.nationality is not None %}   
      <p>nationality :  {{ user.nationality|safe }}</p>
    {% endif %}

    <p>date_created : {{ user.date_created|date:"d M Y à G:i"|safe }}</p>
    <p>date_updated : {{ user.date_updated|date:"d M Y à G:i"|safe }}</p>

    <p>
      <a href="{{ user.twitter_url|safe }}" class="link-offset-2 link-underline link-underline-opacity-10">
      twitter
      </a>
    </p>

    
    {% include "quotes_cards.html" %}

    

    {% if user.is_authenticated and user.is_superuser %}
      <a href="{% url 'users:update-user' user.slug %}" class="link-offset-2 link-underline link-underline-opacity-10">Update user</a>
      <a href="{% url 'users:delete-user' user.slug %}" class="link-offset-2 link-underline link-underline-opacity-10">Delete user</a>      
    {% endif %}    


    {% endblock %}  