{% load translated_author %}
{% load highlight %}


    <div id="search_count" hx-swap-oob="true">
        {% if search_query %}
        <p class="p-2 m-0 pb-0 pt-3">
         {{ count }} results for <b>"{{ search_query|safe }}"</b>...
        </p>
        {% endif %}
    </div>

    
    {% for author in authors %}

      <!-- Trigger pagination/infinite scroll -->        
      {% if forloop.last and next_page_url %}
   

          <li class="list-group-item"
            hx-get="{% url 'authors:get-authors' %}?page={{ page_number|add:1 }}{% if search_query %}&q={{ search_query }}{% endif %}" 
            hx-trigger="revealed" 
            hx-swap="afterend" 
            hx-target="this">
            
        {% else %}
          <li class="list-group-item">
      {% endif %}
            <a href="{% url 'authors:get-author' author.slug %}" class="link-offset-2 link-underline link-underline-opacity-10">
              {{ author|translated_name|highlight_search:search_query|safe }} ({{ author.quote_count }} quotes)

            </a>
          </li>          

    {% endfor %}



{% if not authors %}
  <li>Try a different search or explore our collection!</li>
{% endif %}

{% include 'pagination.html' %}

