

{% load get_item %} 

{% block body %}


    <h1>

      
      {% if author.translated_name %}
        {% with language_code=request.LANGUAGE_CODE %}

            {% if language_code in author.translated_name %}

                {{ author.translated_name|get_item:language_code|default:author.fullname }}

            {% else %}
                {{ author.fullname }}  {# Fallback to the author's fullname if the translation isn't available #}
            {% endif %}
        {% endwith %}
      {% else %}
          {{ author.fullname }}  {# Fallback if no translations exist #}
      {% endif %}


    </h1>



    {% if author.avatar is not None %}
      <img src="{{ author.avatar }}" class="rounded-circle" style="height:200px;width:200px;" >
    {% endif %}      


    <h2>{{ author.biography|safe }}</h2>


    {% if author.date_birth_datefield %}
      <p>date_birth datefield : {{ author.date_birth_datefield }}  </p>
    
    {% else %} 
      {% if author.date_birth %}
      <p>date_birth string : {{ author.date_birth }} </p>      
      {% endif %} 

    {% endif %}  
    
    


    {% if author.date_death_datefield %}
    <p>date_death datefield : {{ author.date_death_datefield }}  </p>
  
    {% else %} 
      {% if author.date_death %}
      <p>date_death string : {{ author.date_death }} </p>      
      {% endif %} 

    {% endif %}  
  




       
    
    {% if author.sex is not None %}    
      <p>sex : {{ author.sex|safe }}</p>
    {% endif %}

    {% if author.nationality is not None %}   
      <p>nationality :  {{ author.nationality|safe }}</p>
    {% endif %}

    <!-- <p>date_created : {{ author.date_created|date:"d M Y à G:i"|safe }}</p>
    <p>date_updated : {{ author.date_updated|date:"d M Y à G:i"|safe }}</p> -->

    <p>date_created : {{ author.date_created }}</p>
    <p>date_updated : {{ author.date_updated }}</p>    
    <p>
      <a href="{{ author.twitter_url|safe }}" class="link-offset-2 link-underline link-underline-opacity-10">
      twitter
      </a>
    </p>

    <p>{{ count|safe }} quotes</p>
    
    

    {% endblock %}  