{% load static %}
{% load i18n %}

    <form class="search_bar row g-3 bg-transparent">

        <div class="col-md">
            <!-- HTMX target for the list -->
            <input 
            placeholder="{% blocktrans %}Search {{ count }} authors{% endblocktrans %}"
            value="{{ search_query }}"
            class="form-control me-2" 
            type="text" 
            name="q"
            hx-get="{% url 'authors:get-authors' %}"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#results"
            hx-swap="innerHTML">
        </div>    

        <div class="col-auto">
            <button class="btn btn-primary x-1" type="submit">Search</button>
        </div>  
    </form>