<div id="quotes-container">
    {% comment %}{{ next_page_url }}{% endcomment %}

    {% for quote in quotes %}

        {% if forloop.last %}
            <!-- Pagination activated for infinite loop -->
            {% if next_page_url %}
            <div hx-get="{{ next_page_url }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this"></div>
            {% endif %}
        {% endif %}

        {% include "quote_card.html" %}




    {% empty %}
        <!-- If empty -->
        <p>There is no quotes here.</p>
    {% endfor %}
</div>

{% include "quotes_pagination.html" %}
